<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
  	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body style="background-color: grey;">

<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
  <a class="navbar-brand" style="color: white;">Channels Relay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color: white; margin-left: 1082px" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<div class="container">

	<u>
	<h4>Channel one</h4>
	<a href="/1on" class="btn btn-info" role="button">on</a>
	<a href="/1off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel two</h4>
	<a href="/2on" class="btn btn-info" role="button">on</a>
	<a href="/2off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel three</h4>
	<a href="/3on" class="btn btn-info" role="button">on</a>
	<a href="/3off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel four</h4>
	<a href="/4on" class="btn btn-info" role="button">on</a>
	<a href="/4off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel five</h4>
	<a href="/5on" class="btn btn-info" role="button">on</a>
	<a href="/5off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel six</h4>
	<a href="/6on" class="btn btn-info" role="button">on</a>
	<a href="/6off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel seven</h4>
	<a href="/7on" class="btn btn-info" role="button">on</a>
	<a href="/7off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel eight</h4>
	<a href="/8on" class="btn btn-info" role="button">on</a>
	<a href="/8off" class="btn btn-info" role="button">off</a>
	</u>
	
</div>
<br>
</body>

<footer>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
		  <a class="navbar-brand" style="color: white; size: 10px;">App made by Vincent HV using HTML & Python</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
</footer>
</html>