<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>


<header>
	
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Channel's Relay</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/index">Part one</a></li>
      <li><a href="/page2">Part two</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

</header>
<body>



<div class="container">
	<h1>Channels Relay</h1>

	<u>
	<h4>Channel one</h4>
	<a href="/1on" class="btn btn-info" role="button">on</a>
	<a href="/1off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel two</h4>
	<a href="/2on" class="btn btn-info" role="button">on</a>
	<a href="/2off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel three</h4>
	<a href="/3on" class="btn btn-info" role="button">on</a>
	<a href="/3off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel four</h4>
	<a href="/4on" class="btn btn-info" role="button">on</a>
	<a href="/4off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel five</h4>
	<a href="/5on" class="btn btn-info" role="button">on</a>
	<a href="/5off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel six</h4>
	<a href="/6on" class="btn btn-info" role="button">on</a>
	<a href="/6off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel seven</h4>
	<a href="/7on" class="btn btn-info" role="button">on</a>
	<a href="/7off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel eight</h4>
	<a href="/8on" class="btn btn-info" role="button">on</a>
	<a href="/8off" class="btn btn-info" role="button">off</a>
	</u>
	
</div>
<br>


</body>
</html>