<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
	<h1>Channels Relay</h1>

	<u>
	<h4>Channel one</h4>
	<a href="/1aan" class="btn btn-info" role="button">on</a>
	<a href="/1uit" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel two</h4>
	<a href="/2aan" class="btn btn-info" role="button">on</a>
	<a href="/2uit" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel three</h4>
	<a href="/3aan" class="btn btn-info" role="button">on</a>
	<a href="/3uit" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel four</h4>
	<a href="/4aan" class="btn btn-info" role="button">on</a>
	<a href="/4uit" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel five</h4>
	<a href="/5aan" class="btn btn-info" role="button">on</a>
	<a href="/5uit" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel six</h4>
	<a href="/6aan" class="btn btn-info" role="button">on</a>
	<a href="/6uit" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel seven</h4>
	<a href="/7aan" class="btn btn-info" role="button">on</a>
	<a href="/7uit" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel eight</h4>
	<a href="/8aan" class="btn btn-info" role="button">on</a>
	<a href="/8uit" class="btn btn-info" role="button">off</a>
	</u>
	
</div>

	


</body>
</html>