<!DOCTYPE html>
<html>
<head>
	<title></title>

 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<header>
	
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Channel's Relay</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/index">Part one</a></li>
      <li><a href="/page2">Part two</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

</header>

<body>
<div class="container">
	<h1>Channels Relay</h1>

	<u>
	<h4>Channel nine</h4>
	<a href="/9on" class="btn btn-info" role="button">on</a>
	<a href="/9off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel ten</h4>
	<a href="/10on" class="btn btn-info" role="button">on</a>
	<a href="/10off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel eleven</h4>
	<a href="/11on" class="btn btn-info" role="button">on</a>
	<a href="/11off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel twelve</h4>
	<a href="/12on" class="btn btn-info" role="button">on</a>
	<a href="/12off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel thirteen</h4>
	<a href="/13on" class="btn btn-info" role="button">on</a>
	<a href="/13off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel fourteen</h4>
	<a href="/14on" class="btn btn-info" role="button">on</a>
	<a href="/14off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel fifhteen</h4>
	<a href="/15on" class="btn btn-info" role="button">on</a>
	<a href="/15off" class="btn btn-info" role="button">off</a>
	</u>

	<u>
	<h4>Channel sixteen</h4>
	<a href="/16on" class="btn btn-info" role="button">on</a>
	<a href="/16off" class="btn btn-info" role="button">off</a>
	</u>
	
</div>
<br>




<a href="/logout" class="btn btn-info" role="button">Logout</a>

	


</body>
</html>